$navbar-light-color: #fff;
$navbar-light-hover-color: #fff;
$navbar-light-active-color: #fff;
$navbar-padding-y: 0;

$blue: #0952b0;
$red: #ca1818;

$body-bg: #f5f3f5;

@import '~bootstrap/scss/bootstrap';
