.columnOne {
  margin-bottom: 2rem;
  border-right: 1px solid grey;
}

.columnTwo {
  margin-bottom: 2rem;
}

.h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.address {
  display: flex;
}

.address p {
  margin-bottom: 0.5rem;
}

.icon {
  margin-right: 1.5rem;
  margin-top: 0.4rem;
  color: grey;
}
